.wrapper {
  @apply flex-1 overflow-y-hidden overflow-x-hidden p-1;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a19f9f;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f5f0f0;
  border-radius: 4px;
}

/*
.scrollbar {
  scrollbar-color: #a19f9f #f5f0f0;
  scrollbar-width: thin;
}
*/
