.wrapper {
  @apply flex m-2;

  &.myWrapper {
    @apply flex-col items-end gap-0.5;
  }

  &.botWrapper {
    @apply justify-start;
  }

  .messageBubble {
    @apply relative max-w-[30ch] h-full sm-500:max-w-[60ch] rounded-md px-2 py-1 min-w-[14ch];

    &.myMessage {
      @apply bg-blue-600 text-white;
      position: relative;
    }

    &.botMessage {
      @apply bg-neutral-200;
      position: relative;
    }

    .triangle {
      @apply absolute w-2.5 h-2.5 bg-inherit
    }

    .myMessageTriangle {
      @apply right-[-4px] top-0 bg-blue-600;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: rotate(180deg);
      border-radius: 0.25em;
    }

    .botMessageTriangle {
      @apply left-[-4px] top-0 bg-neutral-200;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: rotate(180deg);
      border-radius: 0.25em;
    }
  }
}
