.wrapper {
  @apply relative flex m-2;
}

.myWrapper {
  @apply flex-col items-end gap-0.5;
}

.botWrapper {
  @apply justify-start;
}

.avatarWrapper {
  @apply relative mr-2;
}

.avatar {
  @apply w-auto h-auto rounded-full;
}

.badge {
  @apply absolute bottom-[44px] right-0 w-2.5 h-2.5 bg-green-500 rounded-full border-2 border-white;
}

.messageBubble {
  @apply relative max-w-[60ch] rounded-md p-2 min-w-[14ch];
}

.right::after {
  content: '';
  position: absolute;
  top: 0;
  right: -9px;
  border-width: 10px 10px 0 10px;
  border-color: rgb(37 99 235 / 1) transparent transparent transparent;
}

.left::after {
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
  border-width: 10px 10px 0 10px;
  border-color: rgb(229 229 229 / 1) transparent transparent transparent;
}


.myMessage {
  @apply bg-blue-600 text-white;
}

.botMessage {
  @apply bg-neutral-200;
}

.titleWrapper {
  @apply flex justify-start items-center gap-1 mb-2;
}

.titleName {
  @apply font-semibold;
}

.textNeutral500 {
  @apply text-neutral-500;
}


.messageContainer {
  @apply grid grid-rows-[auto,1fr] grid-cols-[auto] max-w-full;
}

.messageText {
  grid-row: 1;
  word-break: break-word;
}


.messageFooter {
  @apply row-[2/3] flex justify-end items-center gap-[0.5ch];
}


